<!DOCTYPE html>
<html>

<head>

</head>

<body>



  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyAySFsY5ICWNTnHn-gisgdpxTDbPHsceWI",
      authDomain: "vehctra.firebaseapp.com",
      databaseURL: "https://vehctra.firebaseio.com",
      projectId: "vehctra",
      storageBucket: "vehctra.appspot.com",
      messagingSenderId: "695836200267",
      appId: "1:695836200267:web:6bfa002afb20809763ecce",
      measurementId: "G-Q5BQ83SDFQ"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
</body>

</html>