<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ropasci Results</title>
</head>

<body>
    <h2>Results</h2>
    <p>The player choice was <%= player %></p>
    <p>The cpu choice was <%= cpu %></p>
    <p>The winner is <%= winner %></p>
    <a href="form.html">Play again</a>
</body>

</html>